@font-face {
    font-family: 'EmojiFont';
    src: local('Noto Color Emoji'),
         local('Segoe UI Emoji'),
         local('Apple Color Emoji'),
         local('Twemoji Mozilla'),
         url('../fonts/NotoColorEmoji.ttf') format('truetype');
    unicode-range: U+200D, U+2190-21FF, U+2300-23FF, U+25A0-25FF, U+2600-27BF, U+2900-297F, U+2B00-2BFF, U+FE0F, U+1F000-1FFFF;
}

button, input, select, textarea {
    font-family: inherit;
}
